p.welcome{
    color: #fff;
    background-color: #E21C44;
p.vivacss{
    color: #000;
body{
    background: url("http://ww.code-couleur.com/images/crayons.jpg") no-repeat;
    background-size: 300px;